<div id="show-container">
  <div class="show-banner">
    <div>
      <h1><%= @list.name %></h1>
    </div>
  </div>

  <div id="movie-form">
    <h2>Add movie</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <div class="btn-center">
      <%# <%= f.button :submit %>
      <%= button_tag(type: 'submit') do %>
        <span><i class="fa-solid fa-film"></i> Add</span>
      <% end %>
    </div>
  </div>
<% end %>
</div>

